// you can change config here
$code-lang: "css" "html" "js" "ts" "vue";

// 日间/夜间代码块主题配置颜色  可用主题参考 https://vuepress-theme-hope.github.io/v2/zh/guide/interface/code-theme.html#%E8%AE%BE%E7%BD%AE%E6%96%B9%E5%BC%8F
$code-light-theme: "one-light";
$code-dark-theme: "one-dark";

